<h2>Messages</h2>

<% @messages.each do |message| %>
  <p>
    "<%= message.content %>" by <strong><%= message.user.name %></strong>
  </p>
<% end %>

<p>
  <%= link_to 'Send new message', new_message_path %>
</p>

<p>
  <%= link_to 'Go to users', users_path %>
</p>
