- flash.each do |_, flash_text|
  .py-3
    .alert.alert-primary.alert-dismissible.fade.show{ role: "alert" }
      = flash_text
      %button.btn-close{ type: "button", "data-bs-dismiss": "alert", "aria-label": "Close" }
